{% extends "layout.html" %}
{% block content %}
	<div class="jumbo">
		<h2>My Home</h2>
		<!-- <h3>Controls<h3> -->
		<div class="row">
			<div class="col-md-4">
				<h3>Comandos</h3>
				<div class="thumbnail">
					<!--<img src="{{ url_for('static', filename='img/home-001.png') }}">-->
					<form action="/home" method="POST">
						{% if led13 == 0: %}
							<input type="submit" name="submit" STYLE="color: #ffffff; background-color: #666; -webkit-border-radius: 5px;
 	-moz-border-radius: 5px;" value="Led Placa">
 						{% else: %}
 							<input type="submit" name="submit" STYLE="color: #000000; background-color: #f1900e; -webkit-border-radius: 5px;
 	-moz-border-radius: 5px;" value="Led Placa">
 						{% endif %}
					</form>
					<form action="/home" method="POST">
						<input type="submit" name="submit" value="Rele 02">
					</form>
				</div>
				<div class="thumbnail">
					<img src="{{ url_for('static', filename='img/home-002.png') }}">
				</div>
			</div>
			<div class="col-md-4">
				<h3>Cameras Principais</h3>
				<div class="thumbnail">
					<img src="{{ url_for('static', filename='img/home-003.png') }}">
				</div>
				<div class="thumbnail">
					<img src="{{ url_for('static', filename='img/home-004.png') }}">
				</div>
			</div>
			<div class="col-md-4">
				<h3>Status Geral</h3>
				<div class="thumbnail">
					<img src="{{ url_for('static', filename='img/home-005.png') }}">
				</div>
			</div>
		</div>
	</div>
{% endblock %}